<html>
    <head>

    </head>
    <body>
        <% include NavbarAdmin.ejs %><br><br>
        <form method="post" action="/forminputcategory/<%= idSeason %>">
            Category : <input type="text" name="categoryName" placeholder="Category">
            <input type="Submit" value="Submit">
        </form>
        <a href="/adminindex">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/admincategory/<%= idSeason %>">back</a>
    </body>
</html>