<html>
    <head>

    </head>
    <body>
        <% include NavbarAdmin.ejs %><br><br>
        <form method="post" action="/formeditproduct/<%= idCategory %>/<%= idProduct %>" enctype="multipart/form-data" >
            Product Name : <input type="text" name="productName" placeholder="Product Name"><br><br>
            <textarea name="productDesc" cols="30" rows="10" placeholder="Product Description"></textarea><br><br>
            Price : <input type="text" name="price" placeholder="Price">
            <input type="file" name="uploadedImage" required />
            <input type="Submit" value="Submit" />
        </form>

        <a href="/adminindex">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/adminproduct/<%= idSeason %>/<%= idCategory %>">back</a>
    </body>
</html>