<html>
    <head>

    </head>
    <body>
        <% include NavbarAdmin.ejs %><br><br>
        <form method="post" action="/forminputseason">
            Season : <input type="text" name="seasonName" placeholder="Season">
            <input type="Submit" value="Submit">
        </form>
        <a href="/adminindex">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/adminseason">back</a>
    </body>
</html>