<html>
    <head>

    </head>
    <body>
        <form method="post" action="/userregister">
            Username : <input type="text" name="userName" placeholder="Username"><br>
            Password : <input type="password" name="passwordUser" placeholder="Password"><br>
            Name : <input type="text" name="name" placeholder="Name"><br>
            Email : <input type="text" name="email" placeholder="Email"><br>
            Phone Number : <input type="text" name="phonenumber" placeholder="Phone Number"><br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>