<html>
    <head>

    </head>
    <body>
        
        <form method="post" action="/userlogin">
            Username : <input type="text" name="username" placeholder="Username"><br>
            Password : <input type="password" name="password" placeholder="Password"><br>
            <font style="color:red"><%= notif %></font><br>
            <input type="Submit" value="Submit">
        </form>
        <a href="/register">Register</a>
    </body>
</html>